<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<form action="#" th:action="@{/addUser}"
      th:object="${user}"
      method="post">
    <label for="userName">Name</label>
    <input type="text" th:field="*{userName}" id="userName" placeholder="Name">
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <!--    <label for="admin">Admin</label>
        <input type="checkbox" th:field="*{role}" value="ROLE_ADMIN" id="admin">
        <label for="user">User</label>
        <input type="checkbox" th:field="*{role}" value="ROLE_USER" id="user">-->
    <input type="submit" value="Add User">
</form>
</body>
</html>